#section1{background-image: url(images/image2.jpg);
flex-wrap: wrap;}
#section3{background-image: url(images/image3.jpg);
height: 300px;}
#section6{background-image: url(images/image1.jpg);}

#section4 .container{min-height: 350px;
  width: 1295px;
margin: 70px auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;}


.container .box{ position: relative;
margin: 25px;
width: 300px;
height: 200px;
box-sizing: border-box;
display: block;
align-items: center;}

.container .box .box1{ position: relative;
overflow: hidden;
display: block;
align-items: center;}

.container .box .box1 img{max-width: 100%;
transition: transform 2s;
display: block;
align-items: center;}

.container .box:hover .box1 img{transform: scale(1.2);}

.container .box .design{position: absolute;}

.container .box .box2{ position: relative;
overflow: hidden;}

.container .box .box2 img{max-width: 100%;
transition: transform 2s;}

.container .box:hover .box2 img{transform: scale(1.2);}

.container .box .box3{ position: relative;
overflow: hidden;}

.container .box .box3 img{max-width: 100%;
transition: transform 2s;}

.container .box:hover .box3 img{transform: scale(1.2);}

.col-md-3:hover{transition: transform 2s;
transform: scale(1.2);
overflow: hidden;}

h3{font-weight: bold;
text-align: center;}

#myFooter{align-items: center;
justify-content: center;
}

#social{align-items: center;
justify-content: center;
text-align: center;
display: block;}

#myEmail{background: transparent;}

#myName{background: transparent;}

textarea{background: transparent;}
